.form-group {
    margin: 0px auto;
    width:400px;
    /* align-items:stretch; */
    /* justify-content: space-between; */

}


body{
    background-color: rgba(196, 196, 196, 0.27);
}

.form-signin{
    margin: 0px auto;
    position: relative;
    /* right:50%; */
    top:40px;
}

.btn{
    position:relative;
    top:30px;

    margin: 0px auto;
    background-color: #ffc40d;
}

#logo{
    background-image:url(../images/logo.png) ;
    width:222px;
    height:81px;
    /* top:15px;
    border:5px; */
    margin: 0px auto;
    display:block;
}

