/* MAIN OBJECT PAGE */

#classestab{
    background-color:#FFC40D ;
}


main{
    width:1050px;
    height:480px;
    position: relative;
    left:70px;
    top:20px;
    display:flex;
    justify-content: space-between;
}

aside{
    position: relative;
    font-size: 14px;
    text-align: center;
    width: 282px;
    height: 185px;
    background-color: rgba(196, 196, 196, 0.27);
}

main>div>aside>p{
    position:relative;
    top:6px;
}

#classinfo{
    width: 282px;
    height: 185px;
}

#sideboxes{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height:450px;
    width:282px;
}



h2{
    font-size: 16px;
}

#classroom{
    position: relative;
    background-image: url(../images/class.png);
    width:418px;
    height:448px;
}

#studentsinfo{
    width:335px;
    height:411px;
    background-color: hsla(0, 0%, 77%, 0.4);
    text-align: center;
}





#studentsinfo>div{
    display: flex;
    /* width:170px; */
    justify-content: space-around;
    flex-wrap: wrap;

}

#studentsinfo>div>section{
    height:87px;
    width:70px;
    background-color:rgb(255, 255, 255, 0.43);
    /* border-collapse: collapse; */

}



#studentsinfo>div>section>select,#studentsinfo>div>section>section {
    background-color:rgb(255, 255, 255, 0.93);
    width:90px;
    height:20px;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    /* margin: 0px auto; */
    position: relative;
    top:80px;
    left:-9px;
    border-width: 0px;
    /* text-align: center; */
    font-size: 12px;
}

#hilaisraeli{
    background-image: url(../images/hilaisraeli.png);
}

#ilancohen{
    background-image: url(../images/ilancohen.png);

}

#emilycohen{
    background-image: url(../images/emilycohen.png);
}

#addstudent{
    position:relative;
    top:25px;
    float:left;
    left:20px;
}
