/* MAIN OBJECT PAGE */

@font-face {
    font-family: Alata;
    src: url(../fonts/Alata-Regular.ttf);
    font-weight: bold;
}

ul, li {
    list-style: none;
}

a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: Alata;
    color:black;
}

header{
    width:100%;
    height:160px;
    background-color: hsla(0, 0%, 77%, 0.2);
    display:flex;
}

#logo{
    background-image:url(../images/logo.png) ;
    width:222px;
    height:81px;
    position: relative;
    top:15px;
    border:5px;
}

nav{
    background-color: hsla(0, 0%, 77%, 0.205);
    display: flex;
    width: 164px;
    height: 554px;
    /* height:100%; */
    float:left;
    flex-direction: column;
}
nav>a{
    width:164px;
    height:80px;

}

nav>a:hover{
    background-color:#FFC40D ;
}

nav>a>p{
    position: relative;
    left:8px;
    top:27px;
}

#classestab{
    background-color:#FFC40D ;
}

#breadcrumb{
    width:265px;
    height:19px;
    display: flex;
    justify-content:space-between;
}

main{
    width:1050px;
    height:480px;
    position: relative;
    left:70px;
    top:20px;
    display:flex;
    justify-content: space-between;
}

aside{
    position: relative;
    font-size: 14px;
    text-align: center;
    width: 282px;
    height: 185px;
    background-color: rgba(196, 196, 196, 0.27);
}

main>div>aside>p{
    position:relative;
    top:6px;
}

#classinfo{
    width: 282px;
    height: 185px;
}

#sideboxes{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height:450px;
    width:282px;
}

h1{
    position: relative;
    left:8px;
    top:6px;
}

h2{
    font-size: 16px;
}

#classroom{
    position: relative;
    background-image: url(../images/class.png);
    width:418px;
    height:448px;
}

#studentsinfo{
    width:335px;
    height:411px;
    background-color: hsla(0, 0%, 77%, 0.4);
    text-align: center;
}
